{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json",
    "extraFileExtensions": [".ts", "tsx"]
  }
}
